.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(80px, auto);
  width: 100%;
}



/*HUVUDSIDAN*/
.pagetext{
  grid-column: 1/-1;
  grid-row: 1/50;
}



#welcomerubrik {
  grid-column: 1/11;
  grid-row: 3/4;
}


#fonttest {
  grid-column: 2/10;
  grid-row: 30/40;
}
.header{
  grid-column: 1/-1;
  grid-row: 1/2;

}
.footer{
  grid-column: 1/-1;
  grid-row: 51/52;

}
.topnav{
  grid-column: 1/-1;
  grid-row: 2/3;
}

/*content*/

.sliderp {
  grid-column: 7/11;
  grid-row: 3/4;
}

#introduction{
  grid-column: 2/6;
  grid-row: 4/5;
}
#girlbook{
  grid-column: 6/10;
  grid-row: 4/5;
}


.current{
  grid-column: 9/11;
  grid-row: 7/10;
}
.currentback{
  grid-column: 4/11;
  grid-row: 7/10;
}
.currentitle{
  grid-column: 2/12;
  grid-row: 6/8;
}
#curent{
  grid-column: 4/9;
  grid-row: 7/10;
}
.starrating{
  grid-column: 6/12;
  grid-row: 9/11;
}
/*ANDRASIDAN*/




#blankpage2 {
  grid-column: 2/10;
  grid-row: 5/50;

}
#recommendationtitle {
  grid-column: 2/10;
  grid-row: 3/4;
}

.pagetext2{
  grid-column: 1/-1;
  grid-row: 1/50;
}




/*TREDJESIDAN*/











/*MEDIA SCREEN*/

@media screen and (max-width: 800px) {


  #welcomerubrik {
    grid-column: 1/11;
    grid-row: 3/4;
  }


  #blankpage , #blankpage2 {
    grid-column: 2/10;
    grid-row: 3/50;

  }
  /*Första sidan content*/

#introduction{
  grid-column: 2/11;
  grid-row: 4/5;
}
#girlbook{
  grid-column: 2/8;
  grid-row: 5/6;
}
.currentback{
  grid-column: 2/12;
  grid-row: 7/10;
}
.current{
  grid-column: 9/11;
  grid-row: 7/10;
}
.currentitle{
  grid-column: 2/12;
  grid-row: 6/8;
}
#curent{
  grid-column: 2/9;
  grid-row: 7/9;
}
.starrating{
  grid-column: 6/12;
  grid-row: 9/11;
}

}
